{% extends 'base.html' %}

{% block content %}
    
    <h1>Why we love finches...</h1>
    <hr>
    <p>You know, there's something truly special about finches that just captures my heart. Firstly, have you seen how stunning they are? Their vibrant colors and intricate patterns make them an absolute joy to behold. And their songs... oh, their songs! They fill the air with such cheerful melodies, creating an atmosphere of pure happiness.
        
        What I love most, though, is their social nature. Watching finches interact with each other is just heartwarming. They're playful, they're curious, and they're so social. It's like having a tiny community of friends right in your own home.</p>
    
{% endblock %}
